.custom {
  .ant-steps-item-container {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .ant-steps-item-title{
    font-size: 0.875rem;
    line-height: 1.4;
  }
  .steps-content {
    padding: 40px 10px;
  }

}

